.navbar {
    background: white;
    padding: 20px;
    border-bottom: 1px solid rgb(220, 220, 220);
    margin-bottom: 10px;
}

.navitems {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-title {
    font-size: 20px;
}

.navbar-name {
    font-size: 14px;
}


.row {
    display: flex;
    width: 100%;
}

.mainstage {
    /* width: 50%; */
    padding: 10px;
    transition: .2s ease-in;
}

.right-bar {
    /* width: 30%; */
    padding: 10px;
    transition: .2s ease-in;
}

.side-bar {
    width: 20%;
    padding: 10px;
}

.card {
    border: 1px solid rgb(220, 220, 220);
    border-radius: 6px;
    padding: 20px;
    background-color: white;
}

.card-header {
    margin-bottom: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-header>div {
    font-size: 18px;
}

.card-body {
    width: 100%;
}

.card-footer {
    margin-top: 20px;
    border-top: 1px solid rgb(220, 220, 220);
    padding-top: 20px;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    width: 100%;
}

.btn {
    border: none;
    /* border-radius: 4px; */
    border-radius: 16px;
    height: 32px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    transition: .2s ease-in;
    border: 1px solid rgb(220, 220, 220);
}

.btn-default {
    background: rgb(230, 230, 230);
}
.btn-default:hover {
    background: rgb(210, 210, 210);
}

.btn-remove {
    height: 20px;
    font-size: 10px;
    background: rgb(230, 230, 230);
}
.btn-remove:hover {
    background: rgb(210, 210, 210);
}

.btn-blue {
    background: rgb(0, 120, 215);
    color: white;
}
.btn-blue:hover {
    background: rgb(0, 80, 215);
}

.btn-red {
    background: rgb(255, 120, 0);
    color: white;
}
.btn-red:hover {
    background: rgb(255, 60, 0);
}

.error {
    margin-top: 4px;
    font-size: 10px;
    color: red;
}

.category-item {
    border: none;
    background: white;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 16px;
    height: 32px;
    width: 100%;
    margin-top: 10px;
    transition: .2s ease-in;
    cursor: pointer;
}
.category-item:hover {
    background: rgb(240, 240, 240);
}

.category-item-active {
    background: rgb(235, 235, 235);
}

.cat-input {
    padding: 6px;
    margin-right: 10px;
    width: 80%;
    border: 1px solid rgb(220, 220, 220);
    outline: 0;
    border-radius: 16px;
}
.cat-input:focus {
    border: 1px solid rgb(0, 120, 215);
}

.todo-item {
    background: white;
    border: 1px solid rgb(220, 220, 220);
    padding: 16px;
    border-radius: 6px;
    margin-top: 10px;
    position: relative;
}

.todo-item-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    color: rgb(0, 120, 215);
    transition: .2s ease-in;
    cursor: pointer;
}
.todo-item-title:hover {
    color: rgb(0, 80, 215);
}

.todo-item-description {
    font-size: 12px;
    color: grey;
    margin-bottom: 10px;
}
.todo-item-date {
    font-size: 12px;
    color: grey;
    font-style: italic;
}
.todo-item-status {
    position: absolute;
    top: 16px;
    right: 16px;
}
.todo-item-action {
    position: absolute;
    bottom: 16px;
    right: 16px;
}

.todo-item-completed {
    background: rgb(0, 120, 215);
    color: white;
    border-radius: 10px;
    font-size: 8px;
    padding: 4px;
}

.todo-item-active {
    background: rgb(215, 120, 0);
    color: white;
    border-radius: 10px;
    font-size: 8px;
    padding: 4px;
}

.input {
    /* width: 100%; */
    border: 1px solid rgb(210, 210, 210);
    margin-top: 10px;
    padding: 8px;
    border-radius: 6px;
    width: -webkit-fill-available;
    outline: 0;
}
.input:focus {
    border: 1px solid rgb(0, 120, 215);
}
.check {
    margin-top: 10px;
    display: flex;
    align-items: center;
}
.check>span {
    font-size: 12px;
    color: grey;
}

.no-data {
    margin-top: 16px;
    text-align: center;
    font-size: 14px;
    color: rgb(200, 200, 200);
}

.filter-date-input {
    padding: 6px;
    margin-right: 10px;
    border: 1px solid rgb(220, 220, 220);
    outline: 0;
    border-radius: 16px;
}
.filter-date:focus {
    border: 1px solid rgb(0, 120, 215);
}